<link href="home-styles.css" rel="stylesheet" type="text/css">
<h2>Mobile number:</h2>
<div id="content-right">
  <h2>About me.</h2>
  <div id="avatar"></div><p class="j">My name is Hing, I am a Plumber    situated in Central London who specialises in interior refurbishment and plumbing. I have been in the field for the past 7 years therefore I have a wide experience in different projects from small bathroom to an entire house. I am  very creative in my works, paying very close attention to detail, utilising the  skills I learnt to craft many jobs listed in the Services section of the  website. Come give me a ring or Facebook me, and we can have a chat or a cup of  coffee!</p>
</div>

<p>07950556286</p>
<h2>Email:</h2>
<p>hingyman@hotmail.com</p>
<h2>Facebook:</h2>
<p>www.facebook.com/hingyman</p>
<h2>Twitter:</h2>
<p>www.twitter.com/hingyman</p>
<h2>&nbsp;</h2>
