<!--<link href="styles.css" rel="stylesheet" type="text/css">-->
<div id="footer-end">Designed by Dolan Miu. &copy; 2010 Hingy's Workshop Portfolio. Powered by <a href="http://www.splut.com/">Splut</a></div>
