<link href="home-styles.css" rel="stylesheet" type="text/css">
<h2>My latest Work.</h2>
<div id="content-right">
  <h2>About me.</h2><div id="avatar"></div><p class="j">My name is Hing, I am a Plumber    situated in Central London who specialises in interior refurbishment and plumbing. I have been in the field for the past 7 years therefore I have a wide experience in different projects from small bathroom to an entire house. I am  very creative in my works, paying very close attention to detail, utilising the  skills I learnt to craft many jobs listed in the Services section of the  website. Come give me a ring or Facebook me, and we can have a chat or a cup of  coffee!</p>
</div>
<p><img src="portfolio/project1/toilet after 3.JPG" width="390" height="284" /></p>
<p><strong>Project:</strong> Stairs<br />
  <strong>Client:</strong> Paul Guy<br />
  <strong>What I've done:</strong> Laminated the stairs, Need to add more description </p>
