<link href="portfolio-styles.css" rel="stylesheet" type="text/css">
<h2>What have I done?</h2>
<div id="content-right">
  <h2>About me.</h2>
  <div id="avatar"></div><p class="j">My name is Hing, I am a Plumber    situated in Central London who specialises in interior refurbishment and plumbing. I have been in the field for the past 7 years therefore I have a wide experience in different projects from small bathroom to an entire house. I am  very creative in my works, paying very close attention to detail, utilising the  skills I learnt to craft many jobs listed in the Services section of the  website. Come give me a ring or Facebook me, and we can have a chat or a cup of  coffee!</p>
</div>


<h2>House</h2>
<div id="content-left">
	<div id="client">
		<div id="thumbnail"><a href="portfolio/project1/luandry before.JPG" rel="lightbox[project1]" title="#1 Before the transformation, Laundry Room."><img src="portfolio/project1/thumbnail1.jpg" /></a></div>
        <div id="thumbnail"><a href="portfolio/project1/luandry after 1.jpg" rel="lightbox[project1]" title="#2 After the transformation, Laundry Room."><img src="portfolio/project1/thumbnail2.jpg" /></a></div>
        <div id="thumbnail"><a href="portfolio/project1/utility before.JPG" rel="lightbox[project1]" title="#3 Before the transformation, Utility Room."><img src="portfolio/project1/thumbnail3.jpg" /></a></div>
        <div id="thumbnail"><a href="portfolio/project1/utility after.JPG" rel="lightbox[project1]" title="#4 After the transformation, Bathroom."><img src="portfolio/project1/thumbnail4.jpg" /></a></div>
        <div id="thumbnail"><a href="portfolio/project1/toilet after 1.JPG" rel="lightbox[project1]" title="#5 After the transformation, Bathroom."><img src="portfolio/project1/thumbnail5.jpg" /></a></div>
        <div id="thumbnail"><a href="portfolio/project1/toilet after 2.JPG" rel="lightbox[project1]" title="#6 After the transformation, Bathroom."><img src="portfolio/project1/thumbnail6.jpg" /></a></div>
        <div id="thumbnail"><a href="portfolio/project1/toilet after 3.JPG" rel="lightbox[project1]" title="#7 After the transformation, Bathroom."><img src="portfolio/project1/thumbnail7.jpg" /></a></div>
  </div>
</div>
