@charset "utf-8";
/* CSS Document */
#content-right {
	float:right;
	position:relative;
	width: 288px;
	margin: 0px 0px 0px 20px;
}

#content-left {
	width: 800px;
	position:relative;
}

#thumbnail {
	float:left;
	margin: 0 5px 5px 0;
	border: 1px solid #d4d4d4;
	padding: 5px;
	background: #cee3eb;
	width: 120px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

a {
	border:none;
	text-decoration:none;
	
}
a img{
	border: none;
	margin: 0 0 5px 0;
	
}

p a:hover {
	border-bottom: 1px dotted #39C;
	
}