@charset "utf-8";
/* CSS Document */
#container {
	width:1000px;
	position:relative;
	margin: 0 auto;
  	text-align: left;
}

body {
	background-color:#ddedf3;
	text-align:center;
	padding:0;
	margin:0;
	background-image:url(images/index_bg.jpg); 
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-position:bottom;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
	line-height:20px;
	
}

html {
	
}

a {
	text-decoration:none;
}

#logo {
	width:71px;
	height:332px;
	background-image:url(images/index_01.gif);
	position:relative;
	float:left;
}

#header {
	width:929px;
	height:80px;
	background-image:url(images/index_02.gif);
	float:left;
	position:relative;
}

#navigation {
	width:190px;
	float:left;
	position:relative;
}

#mainbg {
	width:929px;
	background-image:url(images/index_06.gif);
	background-repeat:repeat-y;
	position:relative;
	float:left;

}
#nav_top {
	width:190px;
	height:252px;
	background-image:url(images/index_03.gif);
	float:left;
	position:relative;
}

#navbar {
	position:relative;
	float:left;
	list-style-type:none;
	margin:80px 0px 0px 0px;
}

#navbar li{
	font-size:25px;
	font-family:"Lucida Grande","Lucida Sans",Verdana,sans-serif;
	font-weight:bjold;
	position:relative;
	text-align:right;
	height:40px;
	width: 150px;
}

#navbar a {
	text-decoration:none;
	display:block;
	color:#214753;
}

#navbar a:LINK {
}

#navbar a:HOVER {
	color:#e6ebec;
}
#navbar li:HOVER {
	background-color:#3e9cbb;
}

#content {
	width:719px;
	float:left;
	position:relative;
	margin: 0px 10px 0px 10px;
	font-family:Verdana, Geneva, sans-serif;
	color:#333;
}

#footer {
	width:1000px;
	height:240px;
	background-image:url(images/index_07.gif);
	float:left;
	position:relative;
}

#footer-content {
	margin: 140px 0px 0px 270px;
}

.footer-icon {
	margin: 0px 5px 0px 5px;
	border:none;
}

.footer-text{
	color:#FFF;
}

.footer-text:HOVER{
	color:#CCC;
}

#footer-end {
	margin: 5px 0px 0px 200px;
	color:#FFF;
}

#footer-link {
	width: 300px;
}
#footerbg {
	height:240px;
	width:100%;
	background-image:url(images/index_bg.jpg);
	background-repeat:repeat-x;
	position:absolute;
	bottom: 0px;
	left:0px;
}

#avatar {
	float:left;
	background-image:url(avatar.jpg);
	width:73px;
	height:73px;
}

h1 {
	font-family:"Lucida Console", Monaco, monospace;
	font-size:30px;
	color:#09F;
	font-weight:normal;
	margin: 40px 0px 0px 200px;
	letter-spacing:-2px;
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:20px;
	font-weight:normal;
	color:#09F;
}

p.j{
	text-align:justify; 

}

p a:hover { 
	border-bottom: 1px dotted #36C; 
	
}

#facebookicon {
	position:absolute;
	width:54px;
	height:54px;
	left:824px;
	top:87px;
}

#twittericon {
	position:absolute;
	width:54px;
	height:54px;
	left:893px;
	top:87px;
}

/* Lightbox Scripts */
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }


/* End of lightbox */